@import "tailwindcss";

body {
    color: white;
    min-height: 100vh;
    margin: 0;
    /* background: linear-gradient(to top, #2c3e50, #bdc3c7); */
    /* background:
    radial-gradient(
      ellipse at center top,
      rgba(188, 195, 199, 0.15) 0%,
      rgba(44, 62, 80, 0.8) 80%
    ),
    linear-gradient(to top, #2c3e50, #bdc3c7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background: 
    radial-gradient(
      ellipse 40% 40% at 50% 25%,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0) 50%
    ),
    radial-gradient(
      ellipse at center top,
      rgba(255, 255, 255, 0.05),
      rgba(44, 62, 80, 0.8)
    ),
    linear-gradient(to bottom, #2c3e50, #4b6584);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.glass-card {
    background: radial-gradient(
        ellipse at top,
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0)
      ),
      rgba(0, 0, 0, 0.4);
    background-blend-mode: screen;
    backdrop-filter: blur(14px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #e3eaf2;
    padding: 1.5rem;
    min-width: 260px;
    cursor: pointer;
    box-shadow: 0 4px 40px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
}
  
.glass-card:hover {
    box-shadow: 0 8px 50px rgba(255, 255, 255, 0.2);
    transform: translateY(-6px);
}
  

:root {
    --color-1: #141c33;
    --color-2: #2f456f;
    --color-3: #5374ac;
    --color-4: #8bafd0;
    --color-5: #eff5fa;
  }